/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */


/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */


/* .dataTables_filter .input-group-addon {
    width: 32px;
    margin-top: 0;
    float: left;
    height: 32px;
    padding-top: 8px;
    display: inline-block;
    z-index: 2;
    position: relative;
    top: 32px;
}

.add-clear-span > input.form-control {
    text-indent: 22px;
    height: 32px;
}

span.add-clear-x.form-control-feedback.glyphicon.glyphicon-remove-circle {
    display: inline-block;
    z-index: 3;
}

.input-group-btn {
    left: -2px;
}

.firstbtn {
    margin-left: -10px;
}

.secondbtn {
    margin-left: -40px;
}

.thirdbtn {
    margin-left: -20px;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid black;
}*/

.login-info li {
    list-style: none;
}

.table>thead:first-child>tr:first-child>th {
    text-align: center;
}

.jarviswidget header:first-child .nav-tabs li a {
    text-transform: uppercase;
}

.nav-tabs>li .close {
    margin: 2px -5px 0px 10px;
    font-size: 13px;
}

.table-striped>tbody>tr.selected {
    background-color: #bdbdbd !important;
}

.panel.infolist .form-group {
    border-bottom: 1px dashed #e2e4e8;
    padding-bottom: 9px;
    min-height: 35px;
    display: block;
    height: auto;
    overflow-y: auto;
}

.panel.infolist .form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.panel.infolist .form-group .fvalue {
    padding: 0px 10px 5px 10px;
}

.panel.infolist .form-group:last-child {
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.panel.infolist .form-group:first-child {
    margin-top: 10px;
}

.profile2{
    margin-bottom: 15px;
    margin-top: -14px;
}
.profile2 .profile-image {
    border-radius: 50%;
    margin-top: 20px;
    width: 70px;
    height: 70px;
    float: left;
}
.profile2 .profile-icon {
    border-radius: 50%;
    margin-top: 15px;
    width: 70px;
    height: 70px;
    float: left;
    background: #FFF;
    text-align: center;
    text-shadow: 1px 1px 6px #48b0f7;
}
.profile2 .profile-icon i {
    font-size: 42px;
    margin-top: 14px;
    text-align: center;
}
.profile2 .name {
    display: block;
    width: 100%;
    margin-top: 9px;
    font-weight: bold;
}
.profile2 .desc {
    margin-top: 6px;
}
.profile2 .row.stats {
    display: block;
}
.profile2 .row.stats .stat {
    font-size: 18px;
}
.profile2 .row.stats .stat i {
    font-size: 18px;
    width: 15px;
    text-align: center;
    margin-right: 3px;
}
.profile2 .dats1 {
    padding: 7px 10px;
    font-size: 13px;
}
.profile2 .dats1 i.fa {
    width: 20px;
    text-align: center;
    margin-right: 3px;
}
.profile2 .label2 {
    display: inline-block;
    padding: 0px 7px 1px 7px;
    background: #FFF;
    color: #7D7D7D;
    font-size: 14px;
    border-radius: 3px;
    margin-left: 3px;
    cursor: pointer;
}
.profile2 .label2.danger {
    background: #f55753;
    color: #FFF;
}
.profile2 .label2.success {
    background: #10cfbd;
    color: #FFF;
}
.profile2 .teamview {
    display: block;
    text-align: center;
    padding: 9px;
}
.profile2 .teamview .face {
    display: inline-block;
    max-height: 40px;
}
.profile2 .teamview .face img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 3px;
    margin-bottom: 7px;
    border: 1px solid #FFF;
}
.profile2 .teamview .face i.status-online {
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    margin-top: -21px;
    margin-left: 27px;
    background: #10c469;
    border: solid 1px #FFF;
    border-radius: 50%;
}
.profile2 .dats1.pb {
    padding: 3px 10px;
}
.profile2 .dats1.pb .progress {
    margin-bottom: 0px;
}
.profile2 .dats1.pb .clearfix span,
.profile2 .dats1.pb .content span {
    font-size: 12px;
}
.profile2 .actions {
    text-align: center;
    margin-top: 15px;
    padding: 0;
}
.profile2 .actions .btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    padding-top: 3px;
    text-align: center;
    margin-bottom: 5px;
    border: 0px;
    transition: all .3s ease;
}
.profile2 .actions .btn.btn-edit {
    color: #48B0F7;
}
.profile2 .actions .btn.btn-edit:hover {
    background: #48B0F7;
    color: #FFF;
}
.profile2 .actions .btn.btn-delete {
    padding-top: 1px;
    color: #f55753;
    font-size: 17px;
    margin-left: 0;
    padding-left: 4px;
}
.profile2 .actions .btn.btn-delete:hover {
    background: #f55753;
    color: #FFF;
}
.btn-default {
    border-color: #D6D3D3
}
.slider .tooltip {
    display: none !important;
}
.slider.gray .slider-handle {
    background-color: #888;
}
.slider.orange .slider-handle {
    background-color: #FF9800;
}
.slider.green .slider-handle {
    background-color: #8BC34A;
}
.guide1 {
    padding: 15px 15px 10px;
    font-size: 12px;
}
.guide1 .fa {
    font-size: 22px;
    vertical-align: bottom;
    margin-left: 17px;
}
.guide1 .fa.gray {
    color: #888;
}
.guide1 .fa.orange {
    color: #FF9800;
}
.guide1 .fa.green {
    color: #8BC34A;
}
.table-access {
    border: 1px solid #CCC;
}
.table-access thead tr {
    background-color: #DDD;
}
.table-access thead tr th {
    border-bottom: 1px solid #CCC;
    padding: 10px 10px;
    text-align: center;
}
.table-access thead tr th:first-child {
    text-align: left;
}
.table-access input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: text-top;
}
.table-access > tbody > tr > td {
    border-bottom: 1px solid #EEE !important;
    padding: 10px 10px;
    text-align: center;
}
.table-access > tbody > tr > td:first-child {
    text-align: left;
}
.table-access .tr-access-adv {
    background: #b9b9b9;
}
.table-access .tr-access-adv .table {
    margin: 0px;
}
.table-access .tr-access-adv > td {
    padding: 7px 6px;
}
.table-access .tr-access-adv .table-bordered td {
    padding: 10px;
}
.hide{
    display: none !important;
}
.ui-field {
    list-style: none;
    padding: 3px 7px;
    border: solid 1px #cccccc;
    border-radius: 3px;
    background: #f5f5f5;
    margin-bottom: 4px;
}


ul.files_container {
  list-style: none;
  padding: 10px;
  margin: 0px;
  display: inline-block;
  height: 100%;
  width: 100%;
  min-height: 300px;
  overflow: scroll;
}
ul.files_container li {
  display: inline-block;
  max-width: 130px;
  height: 130px;
  width: 130px;
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
  overflow: hidden;
  border: solid 1px #EEE;
}
ul.files_container li a {
  display: block;
  height: 100%;
  cursor: pointer;
}
ul.files_container li a img {
  height: 128px;
  display: block;
  transform: translateX(-50%);
  margin-left: 50%;
}
ul.files_container li a i.fa {
  height: 128px;
  width: 128px;
  font-size: 96px;
  text-align: center;
  padding-top: 13px;
}
ul.files_container li:hover {
  border-color: #48B0F7;
}
#EditFileModal .modal-header {
  padding: 0px;
  border-bottom-color: #ddd;
}
#EditFileModal .modal-header h4.modal-title {
  padding: 13px 15px;
}
#EditFileModal .modal-header button {
  float: right;
  padding: 15px;
  background: #FFF;
  border: 0px;
  border-left: solid 1px #ddd;
  text-align: center;
  width: 50px;
  height: 51px;
  margin-top: 0px;
  font-size: 17px;
  color: #d6d6d6;
  opacity: 1;
}
#EditFileModal .modal-header button:hover {
  color: #bbb;
  background: #EEE;
}
#EditFileModal .modal-dialog .modal-content {
    border-radius: 0;
}
#EditFileModal .modal-footer {
  border-top-color: #ddd;
}
#EditFileModal .modal-body {
  background: #f3f3f3;
}
/*#EditFileModal .file-info-form {
  padding: 10px;
  height: 330px;
  background: #f3f3f3;
  border-left: solid 1px #ddd;
}*/
#EditFileModal .file-info-form label {
  color: #666;
  font-weight: normal;
}
#EditFileModal .col-xs-8,
#EditFileModal .col-xs-4 {
  padding: 0px;
}
#EditFileModal .fileObject {
  text-align: center;
  padding: 15px 0px;
  background-color: #ffffff;
}
#EditFileModal .fileObject img {
  max-width: 100%;
}
#EditFileModal form{
    padding: 10px;
}